body {
    margin: 0px;
    font-family: 'Red Hat Display';
    background-color: #FDF7E4;
}
h1{
    font-style: italic;
    font-weight: bold;
}

header {
    font-size: 20px;
    background-color: #BBAB8C;
    padding: 1px 0px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 35px 0px;
}

nav a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.bilder {
    display: flex;
    justify-content: space-around;
    background-color: #DED0B6;
    margin: 0px 70px;
    padding: 25px;
    border-radius: 5px;
}

.bilder img {
    width: 500px;
    height: 325px;
    border-radius: 5px;
}

h2 {
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 150px;
}

h3 {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}