body {
    margin: 0px;
    font-family: 'Red Hat Display';
    background-color: #FDF7E4;
}
h1{
    font-style: italic;
    font-weight: bold;
}

header {
    font-size: 20px;
    background-color: #BBAB8C;
    padding: 1px 0px;
    text-align: center;
}